@import 'dragula';

.mb-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 10000;
  display: none;
}

.mb-modal {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 30px;
  right: 30px;
  background: #eee;
  z-index: 10001;
  border: 2px solid #ccc;
  border-radius: 10px;
  // display:none;
  padding: 10px;
  overflow: hidden;

  ul {
    list-style-type: none;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }
}

.mb-close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #888;
  font-size: 30px;
  cursor: pointer;
}

.mb-modal-header {
  padding: 10px 20px;
  border-bottom: 2px solid #888;
}

.mb-modal-body {
  height: 80%;
}

.mb-row {
  ::after {
    content: '';
    display: table;
    clear: both;
  }
}

.mb-col-6 {
  float: left;
  width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.mb-modal-body-left {
  padding: 20px;
  border-right: 2px solid #aaa;
  height: 100%;
  overflow: auto;
}

.mb-modal-body-right {
  height: 100%;
  overflow: auto;
}

.mb-q {
  background: #fff;
  // border-left: 1px solid #888;
  // border-right: 1px solid #888;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  border-radius: 5px;
  margin-bottom: 15px;
  list-style-type: none;
  padding: 15px;
}

.mb-q-selected {
  background: #aaa;
  color: #eee;
}

.mb-selected-showwhenempty {
  color: #666;
  font-size: 24px;
  padding: 30px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 20%;
}

.mb-selected-questions {
  height: 100%;
}
